.section {
    margin-top: 100px;
}



.subscribe-container {
    border-radius: 10px;
    padding-top: 60px;
    padding-right: 83px;
    padding-bottom: 60px;
    padding-left: 83px;
    background-color: #33B9CB;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    top: -90px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.sub-text {
    font-size: 46px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1px;

    margin-top: 0;
    margin-bottom: 0px;
    color: white;
    text-align: left;
}

.inputBox {
    background: #fff;
    color: #565872;
    border-color: #fff;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);




}

.input-subscribe {
    background-color: #091D3E;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    font-family: "Rubik";
    font-size: 20px;
    padding: 25px 30px 25px 30px;
    border-radius: 5px;
    font-weight: 500;

}

.input-email {
    background: #fff;
    color: #565872;
    border: none;
    padding: 28px 10px 10px 28px;
    margin: 0;
    border-radius: 5px;
    display: block;
}

.lower-section {
    display: block;
    color: white;
    padding-top: 197px;
    padding-bottom: 100px;
    background-color: #091D3E;
}

.card1 {
    background-color: #0b2249;
    padding: 10px 30px;
    border-radius: 10px;
    height: 250px;
}

.card2 {
    background-color: #0f2c5e;
    padding: 10px 30px;
    border-radius: 10px;
    height: 250px;

}

/*
 responsive

*/
@media only screen and (max-width:576px) {
    .subscribe-container {
        grid-template-columns: 1fr;
    }

    .inputBox {
        grid-template-columns: 1fr;
    }

}