.section {
    margin-top: 100px;
}

.section-container {
    position: relative;
}

.subscribe-container {
    border-radius: 10px;
    margin: 0px 40px;
    padding-top: 60px;
    padding-right: 83px;
    padding-bottom: 60px;
    padding-left: 83px;
    background-color: #33B9CB;


    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* width: 100%; */
    position: absolute;
    top: -90px;
}

.sub-text {
    font-size: 46px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0px;
    color: white;
    text-align: left;
}

.inputBox {
    background: #fff;
    color: #565872;
    border-color: #fff;
    padding: 28px 185px 28px 28px;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.9;
    display: flex;

}

.input-subscribe {
    background-color: #091D3E;
    color: #ffffff;
    max-width: 183px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    text-transform: uppercase;
    font-family: "Rubik";
    font-size: 20px;
    padding: 25px 30px 25px 30px;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
}

.input-email {
    background: #fff;
    color: #565872;
    border: none;
    padding: 28px 185px 28px 28px;
    margin: 0;
    border-radius: 5px;
    display: block;
}

.lower-section {
    display: block;
    color: white;
    padding-top: 197px;
    padding-bottom: 100px;
    background-color: #091D3E;
}

.card1 {
    background-color: #0b2249;
    padding: 10px 30px;
    border-radius: 10px;
    height: 250px;
}

.card2 {
    background-color: #0f2c5e;
    padding: 10px 30px;
    border-radius: 10px;
    height: 250px;

}