footer {
    background-color: #1c2f4d;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width:576px) {
    footer {
        grid-template-columns: 1fr;
    }
}